#world {
  width: 100%;
  /*margin-top: -45px;*/
}

#world-empty {
  width: 100%;
  position: relative;
}

#counter {
  position: relative;
  display: inline;
}
#statue {
  position: absolute;
  left: 17%;
  bottom: 1%;
  max-width: 6%;
}

#samurai {
  position: absolute;
  left: 70%;
  top: 2%;
  max-width: 6%;
}

.icon {
  &:hover {
    cursor: pointer;
  }
}

.modal-footer button {
  margin-top: 30%;
}

#modal-character {
  display: none;
  position: absolute;
  left: 4%;
  margin-top: 20%;
  max-width: 30%;
  margin-top: 20%;
  z-index: 1;
}

.panel {
  width: 65%;
  margin-left: 35%;
  margin-top: 20%;
  position: absolute;
  z-index: 1;
}